.header {
  flex-shrink: 0;
  background: var(--surface-accent);
  padding: var(--space-100);
}

.content {
  max-width: 592px;
  margin-inline: auto;
  display: flex;
  align-items: center;
  gap: var(--space-150);
}

.avatar {
  flex-shrink: 0;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  background: var(--surface-brand);
}

.title {
  margin: 0;
  color: var(--content-on-accent);
  font-size: var(--font-size-lg);
  font-weight: 600;
}
