*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light dark;
  font-family: system-ui, -apple-system, 'Segoe UI', Roboto, sans-serif;
}

body {
  margin: 0;
  background-color: white;
  background-image: url('/chat-bg.webp');
  background-repeat: repeat;
}

#root {
  min-height: 100svh;
  display: flex;
  flex-direction: column;
}
