*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: light;
  font-family: var(--font-sans);
  color: var(--content-default);
}

body {
  margin: 0;
  background: white url("/chat-bg.webp") repeat;
}

#root {
  height: 100svh;
  display: flex;
  flex-direction: column;
}
